.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    height: 293px;
    padding: 92px 50px 96px;
}

.header_menu {
    max-width: 392px;
    
}

.header_menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.header_logo {
    justify-self: center;
    display: block;
    width: 148px;
    height: 105px; 
}

.header_logo-image {
    height: 105px;
    width: 148px;
}

.header_address {
    justify-self: end;
    max-width: 240px;
    height: 98px;
    font-style: normal;
    border: 1px;
    
    
}

.address {
    list-style: none;
    font-size: 18px;
}

.header_menu-list-item {
    list-style: circle;
}

.header_menu-list-item:first-child {
    list-style: none;
}


.header_link_active {
    text-decoration: none;
}

.cover {
    position: relative;
    padding: 165px 50px 50px 50px;
    min-height: 757px;
}

.lots {
    width: 1052px;
    height: 723px;
    margin: 180px 24px 120px;

}

.about { 
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 1052px;
    height: 595px;
    padding: 35px 0 13px 47px;
    margin: 0 24px 180px;
}

.footer { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 180px;
    padding: 0 50px 82px;

}

.overlay {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: rgba(0,0,0,0.6);  
}

.cover_title {
    color: white;
    font-weight: 700;
    font-size: 100px;
    z-index: 1;
}

.aligned-text {
    letter-spacing: 25px;
}

.aligned-text_left {
    display: flex;
    justify-content: start;
    align-items: start;
}

.aligned-text_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aligned-text_right { 
    display: flex;
    justify-content: end;
    align-items: end;
}

.cover_img {
    background-image: url(../images/cover.jpg);
    background-size: auto;
    background-repeat: round;
    /* Выяснить проблему с картинкой */
    object-fit: cover;
    height: 757px;
    z-index: -2;
}

.description {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 51px;
    z-index: 1;
    margin-top: 106px;
}

.subline {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 22px;
    color: white;
    word-spacing: 20px;
}

.bet-button {
    background-color: transparent;
    color: white;
    width: 256px;
    height: 51px;
    border-color: white;
    font-size: 22px;
    
}

.lots_card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link, .card {
    height: 100%;
}

.lots_card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    width: 1052px;

}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: auto;
    background-repeat: round;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: auto;
    background-repeat: round;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: auto;
    background-repeat: round;
}

.card {
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    
}

.card_title {
    font-size: 22px;
    color: white;
    text-decoration: underline;
}

.card_text {
    font-size: 20px;
    color: white;
}

.lots_heading {
    width: 121px;
    height: 47px;
    font-size: 40px;
    margin: 0 173px 27px 40px;  
}

.lots_look-more-link {
    font-size: 20px;
    width: 192px;
    height: 23px;
    margin-left: 40px;
}

.card-link { 
    text-decoration: none;
}

.about_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
}

.about_logo-image {
    width: 148px;
    height: 114px;
}

.about_title {
    width: 291px;
    height: 47px;
    font-size: 40px;
    padding-top: 136px;
    padding-bottom: 100px;
}

.about_text{
   max-width: 693px;
   max-height: 168px;
   font-size: 20px;
   gap: 24px;
}

.about_column-left {
    padding-top: 35px;
    justify-self: center;
    align-self: start;
    
}

.about_column-right {
    align-self: end;
}

.about_text-one { 
    padding-bottom: 24px;
}

.footer_menu-link-active { 
    text-decoration: none;
}

.footer_address {
    justify-self: center;
}

.footer_menu { 
    justify-self: center;
}

.footer_menu-list {
    list-style: none;
    text-align: center;
}

.footer_social-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.footer_social-list-item {
    width: 48px;
    height: 48px;
}

.address-link { 
    text-decoration: none;
    border-bottom: 1px solid #000;
}